<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afirez.log">

    <application>
        <meta-data
            android:name="com.afirez.log.LogAppLifeCycleCallbacks"
            android:value="AppLifecycleCallbacks" />
    </application>

</manifest>